{% block content %}
    <div >


        {% if not reviews %}
            <h1>Нет Oценок</h1>
        {% else %}




            <table class="table">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">Автор</th>
      <th scope="col">Текст</th>
      <th scope="col">Рейтинг</th>
        <th scope="col">отМодерирован</th>
    </tr>
  </thead>
  <tbody>
            {% for review in good.reviews.all %}
                <tr>
            <td class="table-success">
                {{review.user}}
            </td>
            <td class="table-active">
                {{ review.text_review }}
            </td>
                <td class="table-active">
                {{ review.rating }}
            </td>
             <td class="table-active">
                {{ review.moderation }}
             </td>

                </tr>
            {% endfor %}
    </tbody>
</table>


        {% endif %}
    </div>
{% endblock content %}