{% extends 'base.html' %}

{#{% block menu %}<li><a href="{% url "add_good" %}">Добавить товар</a></li>{% endblock menu %}#}
{% block title %}Все товары{% endblock title %}
{% block page_header %}Товары{% endblock page_header %}
{% block content %}
    {% if not goods %}
        <h2>Нету товара</h2>

    {% else %}


            {% include 'Good/../partial/simple_search.html' %}


            {% if is_paginated %}

                 {% include 'Good/pagination.html' %}
                {% endif %}
    {% endif %}

{#    {% for good in goods %}#}
{#    <div>#}
{#    {{ good.id }}) Название: {{ good.name }}#}
{#    </div>#}
{#    <div>#}
{#    Категория: {{ good.category }}#}
{#    </div>#}

{#    {% endfor %}#}
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">категория</th>
    </tr>
  </thead>
  <tbody>
        {% for good in goods %}
           <tr>


            <th>{{ good.id }}</th>
            <td><a href="{% url "see_good" good.id %}">{{ good.name }}</a></td>
             <th>{{ good.category }}</th>
{#               <form action="{% url '' good.pk %}" method="post">#}
{#                   {% csrf_token %}#}
{#            <td><input type="number" name="count"></td>#}
{#            <td><button type="submit">Оценить</button></td>#}
{#                   </form>#}
{#            <button type="button" class="btn btn-primary {% url "add_to_cart" good.id %}">Добавить в корзинку</button>#}

          </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}

